
RewriteEngine On

#RewriteBase /openemrDev/zendTest/public/
RewriteBase /openemrDev/contrib/dataImporter/public/
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
#RewriteEngine On
#RewriteRule ^(([^/]+/)*)link([^/]*)\.html$ http://www.example.com/$1$3.html [R=301,L]
#RewriteRule link([^/]*).html$ rewrite.php?link=$1 [R=301,L]
